h1 {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  color:#100;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 15px;
  margin-bottom: 10px; 
  text-align: center;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  color: #100;
  font-size: 20px;
  text-align: center;
}

p {
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  word-spacing: 3px;
  font-weight: 300;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh; 
  width: 100%;
  background-color: whitesmoke;
}

#wrapper {
  min-width: 350px; 
  overflow: scroll; 
  padding: 10%; 
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin-top: 12px;
}

ul {
  padding-inline-start: 0;
}

#navID ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-block-end: 1em; 
  margin-block-start: 1em; 
}

#navID ul li a {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  color: rgb(78, 78, 78);
  font-size: 20px;
  text-decoration: none;
  margin: 10px 0; 
}

#links {
  display: flex;
  flex-direction: row; 
}

#links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

#links ul li a i {
  margin: 2px; 
}

.item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item img {
  image-rendering: smooth;
  padding: 5%;
  max-height: 35%;
  max-width: 35%;
  filter: grayscale(50%);
  filter: drop-shadow(0 0 0.75rem black); 
}

p {
  font-size: 18px;
  word-spacing: 3px;
  font-weight: 500;
}

#quote {
  color: black;
  margin: 25px 25px;
  font-style: italic;
}

#quote + p {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 18px;
  margin: 20px 0 0 0;
}

#contactFormContainer {
  align-items: center;
  justify-content: center;
  height: fit-content;  
}

#contactForm {
  display: flex;
  flex-direction: column;
  width: 66%;
  margin: 5% 0;
}

#contactForm label {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 12px;
}

#contactForm input {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  line-height: 10%;
  margin-bottom: 5px;
  background-color: rgb(124, 124, 124);
  border-width: thin;
}

#contactForm textarea {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  line-height: 1.5rem;
  height: 20%;
  padding: 5px;
  background-color: rgb(124, 124, 124);
  border-width: thin;
}

#contactForm button {
  max-width: 25%;
  margin-top: 8px;
}

@media (min-width: 750px) {

  hr {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #contactForm {
    display: flex;
    flex-direction: column;
    width: 55%;
  }

  #contactForm label {
    font-size: 1.75rem;
  }
  #contactForm input {
    line-height: 1.75rem;
    padding: 3%;
  }

  #contactForm textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    line-height: 2rem;
    height: 25%;
    padding: 5%;
    background-color: rgb(124, 124, 124);
    border-width: thin;
  }

  p {
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    word-spacing: 3px;
    font-weight: 400;
  }
  
  #quote {
    color: black;
    margin: 25px 25px;
    font-style: italic;
  }
  
  #quote + p {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 24px;
    margin: 25px;
  }

}
