h1 {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  color:#100;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 15px;
  margin: 0; 
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  color: #100;
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh; /* vh is relative to 1% of the height of the viewport  */
  background-color: whitesmoke;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin-top: 12px;
}

ul {
  padding-inline-start: 0;
}

#navID ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  min-width: 400px; 
  margin-block-end: 1em; /* The margin-block-start CSS property defines the logical block start margin of an element, which maps to a physical margin depending on the element's writing mode, directionality, and text orientation. */
  margin-block-start: 1em; /* em is relative to the font-size of the element (2em means 2 times the size of the current font) */
}

#navID ul li a {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  color: rgb(78, 78, 78);
  font-size: 20px;
  text-decoration: none;
  margin: 10px 0; 
}

main {
  height: 100vh;
  width: 85%;
  min-width: 450px;
  overflow-y: auto;
}

main::-webkit-scrollbar {
  display: none;
}

#links {
  display: flex;
  flex-direction: row; 
}

ul {
  padding-inline-start: 0;
  list-style: none;
}

#links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#links ul li a i {
  margin: 2px; 
}